--- 
layout: default
---

<div class="container">

  <div class="section white" id="index-banner">
    <h1 class="header center orange-text">{{ site.title }}</h1>
    <div class="row center">
      <h5 class="header col s12 light">{{ content }}</h5>
    </div>
    <div class="row center">
      <a href="https://goo.gl/forms/IacbgrztG5Mn8aUf1" id="register-button" class="btn-large waves-effect waves-light orange" target="_blank">Register Now !</a>
    </div>
  </div>


  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">flash_on</i>
          </h2>
          <h5 class="center">Boost Your Skill at Lightning Speed</h5>
          <p class="light"></p>
        </div>
      </div>
      <div class="col s4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">code</i>
          </h2>
          <h5 class="center">Hands On with New Technologies</h5>
          <p class="light"></p>
        </div>
      </div>
      <div class="col s4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">layers</i>
          </h2>
          <h5 class="center">Get Full Stack Experience</h5>
          <p class="light"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section indigo lighten-5">
  
  <div class="container">
    <h4>Main Modules</h4>
  <ul class="collapsible popout" data-collapsible="accordion">

    <li>
      <div class="collapsible-header">
        <i class="material-icons">code</i>JavaScript and NodeJS</div>
      <div class="collapsible-body">
        <span>Learn Ecma Script version 6 with modern tools (npm, babel, ..)</span>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <i class="material-icons">http</i>HTTP Streaming and REST APIs</div>
      <div class="collapsible-body">
        <span>Use and build HTTP APIs following recommended patterns</span>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <i class="material-icons">important_devices</i>Responive Web UI</div>
      <div class="collapsible-body">
        <span>Build HTML5 sites following material design and use tools for packaging (webpack)</span>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <i class="material-icons">polymer</i>Web Sockets</div>
      <div class="collapsible-body">
        <span>Work with websockets on server side and client side</span>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <i class="material-icons">dns</i>NoSQL Database</div>
      <div class="collapsible-body">
        <span>Install and code with a NoSQL backend database</span>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <i class="material-icons">assessment</i>Visualizations with D3JS</div>
      <div class="collapsible-body">
        <span>Build powerful visualizations with D3JS</span>
      </div>
    </li>

  </ul>
</div>
</div>

<div class="section lime accent-1">
  <div class="container">
 
    <div class="row">
    <div class="col s4">
    <i class="large material-icons">add</i>
  </div> 
  <div class="col s6">
    <h4>Cloud Solutions for Deployment & Hosting</h4>
  </div>
  </div>

  </div>
</div>

<div class="section grey lighten-2">
  <div class="row container">
    <h4>Prices</h4>
    <table class="bordered">
      <thead>
        <tr>
          <th>Course</th>
          <th>Sessions</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Web Hero Starter Pace</td>
          <td>24</td>
          <td>300 $</td>
        </tr>
        <tr>
          <td>Cloud Solutions for Developer</td>
          <td>2</td>
          <td>60 $</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>